<ul class="side-nav__list">
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/en/#interior">Interior</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/en/#architecture">Architecture</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/en/#magazines">Media</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/en/#team-architects">About Us</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/en/#footer">Contacts</a>
	</li>
</ul>