
<footer class="footer" id="footer" data-anim="false">
	<div class="container footer__container">
		<div class="footer__call-us">
			<div class="footer__call-us-link-wrap">
				<a class="footer__call-us-link js-call-us-form-toggle" href="#">Cвяжитесь с нами</a>
			</div>

			<div class="footer__call-us-form">
				<div class="feedback-form">
					<div class="feedback-form__main">
					  <form class="js-validate js-feedback-form" action="#"  autocomplete="off"><!-- js-feedback-form for backend -->
							<input type="hidden" name="Форма" value="Cвяжитесь с нами">

							<div class="feedback-form__fields">
								<div class="feedback-form__fields-item">
									<label class="input-text">
				            <input class="input-text__field" type="text" name="Name" required data-parsley-person-name>
				            <span class="input-text__placeholder">Имя</span>
					        </label>
								</div>

								<div class="feedback-form__fields-item feedback-form__fields-item--mb-60">
									<label class="input-text">
				            <input class="input-text__field" type="email" name="email" required >
				            <span class="input-text__placeholder">E-mail</span>
					        </label>
								</div>
								
								<hr class="feedback-form__fields-hr">
								<div class="feedback-form__fields-item">
									<label class="input-text">
				            <textarea class="input-text__field" name="Message" rows="4" required></textarea>
				            <span class="input-text__placeholder">Сообщение</span>
					        </label>
								</div>
							</div>

							<div class="feedback-form__agree">
								<span class="checkbox-wrap">
									<label class="checkbox">
										<input class="checkbox__input"  type="checkbox" name="Согласие на обработку данных" value="Я соглашаюсь с Правилами пользования и Политикой конфиденциальности" 
											required 
											data-parsley-error-message="Нужно согласие на обработку данных"
										>
										<i class="checkbox__icon">
											
										</i>
										<span class="checkbox__text">Я соглашаюсь с Правилами пользования и Политикой конфиденциальности</span>
									</label>
								</span>
							</div>

							<div class="feedback-form__submit-wrap">
								<button class="btn feedback-form__submit" type="submit">Отправить</button>
							</div>	       
				    </form>
			    </div>

			    <div class="feedback-form__message">
			    	<div class="feedback-form__message-text text">
							<p>Благодарим за обращение</p>
			    	</div>
			    </div>

				</div>
			</div>
		</div>
		
		

		<div class="footer__inf">
			<div class="footer__inf-item">
				<a class="footer__inf-link" href="mailto:bigo.arch@gmail.com">bigo.arch@gmail.com</a>
			</div>
			
			<div class="footer__inf-item">
				<a class="footer__inf-link" href="tel:+74993921115">+7 499 392 11 15</a>
			</div>
		</div>


		<div class="footer__socials">
			<span class="socials">
		    <span class="socials__item socials__item--inst" data-go-link="https://www.instagram.com/bigoarch/">
		    	<svg width="44" height="44"><use xlink:href='/img/svg/sprite.svg#icon-inst'/></svg>
		    </span>

		    <span class="socials__item socials__item--fb" data-go-link="https://www.facebook.com/bigo.arch/">
		    	<svg width="23" height="44"><use xlink:href='/img/svg/sprite.svg#icon-fb'/></svg>
		    </span>

		    <span class="socials__item socials__item--pinterest" data-go-link="https://www.pinterest.ru/bigoarch/">
					<svg width="44" height="44" ><use xlink:href='/img/svg/sprite.svg#icon-pinterest'/></svg>
				</span>
			</span>
		</div>

		<div class="footer__copy">© bigo 2019</div>

	</div>
</footer>



