<ul class="side-nav__list">
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/#interior">Интерьер</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/#architecture">Архитектура</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/#magazines">Медиа</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/#team-architects">О нас</a>
	</li>
	<li class="side-nav__item">
		<a class="side-nav__link js-anchor" href="/#footer">Контакты</a>
	</li>
</ul>